@use '../abstracts/' as *;

.DrawerOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba($color: #161616, $alpha: 40%);
}

.DrawerContent {
  padding: 1rem;
  position: fixed;
  inset: 10% 0 0;
  background-color: $light1;
  color: $dark1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1000;

  .DrawerHandle {
    height: 0.5rem;
    width: 4rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 9999px;
    background-color: $dark1;
  }
}
