@use '../abstracts/' as *;

.DropdownMenuContent {
  border-radius: 5px;
  padding: 1rem 2rem;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;

  & .DropdownMenuItem {
    font-size: 1.7rem;
    font-weight: 600;
  }

  & .DropdownMenuArrow {
    @include gthemed {
      fill: t('text');
    }
  }

  @include gthemed {
    background-color: t('text');
    color: t('bg');
  }
}

.DropdownMenuContent[data-side='bottom'] {
  animation-name: slideDown;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
