@use '../abstracts/' as *;

.MenubarRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 3.5rem 0;
  padding: 1.5rem 0;
  overflow-x: scroll;

  .MenubarTrigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    padding: 8px 12px;
    outline: none;
    user-select: none;
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 2rem;

    @include gthemed {
      color: t('highContrastText');
    }

    &:focus {
      @include gthemed {
        box-shadow: 0 0 0 2px t('highContrastText');
      }
    }
  }

  .MenubarTrigger[data-highlighted],
  .MenubarTrigger[data-state='open'] {
    @include gthemed {
      background-color: t('elementActiveBackground');
    }
  }

  .MenubarContent {
    width: 95vw;
    margin: 1rem 2.5vw 0;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 2px 2px 15px 2px $dark;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    transform-origin: top center;

    @include gthemed {
      background-color: t('elementBackground');
      border: 1px solid t('bodrer');
    }

    & button {
      width: 100%;
      font-size: 1.7rem;
      border: none;
      padding: 1rem;
      text-align: left;
      font-weight: 600;
      text-transform: capitalize;
      cursor: pointer;

      @include gthemed {
        color: t('highContrastText');
        background-color: t('elementBackground');
      }

      &:hover {
        @include gthemed {
          background-color: t('elementHoverBackground');
        }
      }

      @include sm {
        white-space: break-spaces;
      }
    }

    .MenubarContent[data-side='top'] {
      animation-name: slideRight;
    }

    .MenubarContent[data-side='bottom'] {
      animation-name: slideDown;
    }
  }
}

@keyframes slideUp {
  from {
    opacity: 0;

    // transform: translateX(200px);
  }

  to {
    opacity: 1;

    // transform: translateX(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;

    // transform: translateX(-200px);
  }

  to {
    opacity: 1;

    // transform: translateX(0);
  }
}
