.ability {
    @include size-main-big;
    &_title {
        @include title;
        margin-bottom: 0.5rem;
    }
    &_gen {
        @include subtitle;
    }
    &_container {
        padding: 5rem 0;
            &_subtitle {
                padding-bottom: 1rem;
                font-size: 2rem;
                font-weight: 700;
            }
    }
    &_table {
        @include table;
        &_head {
            @include head;
        }
        &_body {
            &_row {
                @include row;
                &_name {
                    @include name;
                    cursor: pointer;
                }
            }
        }
    }
}

span {
    text-transform: capitalize
}