.ability {
    @include size-main-big;
    &_title {
        @include title;
        margin-bottom: 0.5rem;
    }
    &_gen {
        @include subtitle;
    }
    &_container {
        margin: 5rem 0;
        &_title {
            margin: 0 0 1rem;
            font-size: 2.5rem;
            font-weight: 700;
        }
        &_effect {
            font-size: 1.5rem;
        }
        &_table {
            @include table;
            &_head {
                @include head;
            }
            &_body {
                &_row {
                    @include row;
                    &_sprite {
                        img {
                            width: 64px;
                            height: 64px;
                        }
                    }
                    &_name {
                        @include name;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &_button {
        @include button;
    }
}

span {
    text-transform: capitalize
}