.ability {
    @include size-main-big;
    &_title {
        @include title;
        margin-bottom: 0.5rem;
    }
    &_gen {
        @include subtitle;
    }
    &_container {
        margin: 5rem 0;
        &_effect {
            margin: 0 0 3rem;
            &_title {
                margin: 0 0 1rem;
                font-size: 3rem;
                font-weight: 700;
            }
            &_text {
                font-size: 1.7rem;
            }
        }
        &_title {
            margin: 0 0 2rem;
            font-size: 3rem;
            font-weight: 700;
        }
        &_effect {
            font-size: 1.7rem;
        }
        &_subtitle {
            margin: 0 0 1rem;
            font-size: 2.5rem;
            font-weight: 700;
        }
        &_desc {
            &_table {
                @include table;
                &_row {
                    &_head {
                        background: rgba(130, 130, 130, 0.2);
                        font-size: 1.5rem;
                        font-weight: 700;
                        text-transform: capitalize;
                    }
                    &_element {
                        text-align: center;
                    }
                }
            }
        }
        &_table {
            @include table;
            &_head {
                @include head;
                sup {
                    vertical-align: super;
                    font-size: smaller;
                }
            }
            &_body {
                &_row {
                    @include row;
                    &_sprite {
                        img {
                            width: 64px;
                            height: 64px;
                        }
                    }
                    &_name {
                        @include name;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

span {
    text-transform: capitalize
}