.footer {
	padding: 1rem 0 0.5rem;
	background: hsla(29, 92%, 70%, 1);
	background: linear-gradient(0deg, hsla(29, 92%, 70%, 1) 0%, hsla(0, 87%, 73%, 1) 100%);
	background: -moz-linear-gradient(0deg, hsla(29, 92%, 70%, 1) 0%, hsla(0, 87%, 73%, 1) 100%);
	background: -webkit-linear-gradient(0deg, hsla(29, 92%, 70%, 1) 0%, hsla(0, 87%, 73%, 1) 100%);
	&_inner {
		width: 90%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 30% 40% 30%;
		align-items: center;
		color: $dark;
		&_created {
			justify-self: left;
			font-size: 1.2rem;
		}
		&_title {
			justify-self: center;
			font-size: 2rem;
			font-family: $font-game;
			text-align: center;
		}
		&_btn {
			justify-self: right;
			font-size: 2rem;
		}
	}
}