/*header start*/

.header {
	padding: 3rem 0;
	&_progress {
		position: fixed;
		top: 0;
		z-index: 1;
		width: 100%;
		&_container {
			width: 100%;
  			height: 8px;
  			background: inherit;
			&_inner {
				height: 8px;
				width: 0%;
				background: hsla(29, 92%, 70%, 1);
				background: linear-gradient(0deg, hsla(29, 92%, 70%, 1) 0%, hsla(0, 87%, 73%, 1) 100%);
				background: -moz-linear-gradient(0deg, hsla(29, 92%, 70%, 1) 0%, hsla(0, 87%, 73%, 1) 100%);
				background: -webkit-linear-gradient(0deg, hsla(29, 92%, 70%, 1) 0%, hsla(0, 87%, 73%, 1) 100%);
			}
		}
	}
    &_inner {
		display: flex;
		justify-content: center;
		align-items: center;
		h1 {
			padding: 0 1rem;
			font-family: $font-game;
			font-size: 6rem;
			letter-spacing: 3px;
			color: $light;
			text-shadow: rgb(0, 0, 0) -2px -2px 0px, rgb(0, 0, 0) 2px -2px 0px, rgb(0, 0, 0) -2px 2px 0px, rgb(0, 0, 0) 2px 2px 0px;
		}
		&_btn {
			width: 32px;
			height: 32px;
			background: none;
			border: none;
		}
	}
}

/*header end*/