.item {
    @include size-main-big;
    &_title {
        @include title;
        margin-bottom: 0.5rem;
    }
    &_category {
        @include subtitle;
    }
    &_container {
        margin: 5rem 0;
        &_effect {
            margin: 0 0 3rem;
            &_title {
                margin: 0 0 1rem;
                font-size: 3rem;
                font-weight: 700;
            }
            &_text {
                font-size: 1.7rem;
            }
        }
        &_cost {
            margin: 0 0 1rem;
            font-size: 1.7rem;
            font-weight: 700;
        }
        &_held {
            margin: 0 0 1rem;
            font-size: 1.7rem;
            a {
                display: inline-block;
                padding: 0 0.5rem;
                text-transform: capitalize;
            }
        }
        &_fling {
            font-size: 1.7rem;
        }
        &_title {
            margin: 0 0 2rem;
            font-size: 3rem;
            font-weight: 700;
        }
        &_desc {
            &_table {
                @include table;
                &_row {
                    &_head {
                        background: rgba(130, 130, 130, 0.2);
                        font-size: 1.5rem;
                        font-weight: 700;
                        text-transform: capitalize;
                    }
                    &_element {
                        text-align: center;
                    }
                }
            }
        }
    }
    &_button {
        @include button;
    }
}

span {
    text-transform: capitalize
}