.move {
    @include size-main-big;
    &_title {
        @include title;
        margin-bottom: 0.5rem;
    }
    &_gen {
        @include subtitle;
    }
    &_nav {
        position: relative;
        padding: 5rem 0;
        z-index: 100;
        &_list {
            display: flex;
            align-items: center;
            justify-content: space-around;
            &_dropdown {
                display: inline-block;
                position: relative;
                button {
                    background: none;
                    border: none;
                    font-size: 1.7rem;
                    font-weight: 700;
                }
                &_content {
                    display: none;
                    position: absolute;
                    white-space: nowrap;
                    background: rgba(255, 255, 255, 0.4);
                    button {
                        display: block;
                        background: none;
                        font-size: 1.5rem;
                        border: none;
                        margin: 1rem;
                        cursor: pointer;
                        &:hover {
                            color: $red;
                        }
                    }
                }
                &:hover .move_nav_list_dropdown_content {
                    display: block;
                }
            }
        }
    }
    &_data {
        padding: 5rem 0;
        display: grid;
        grid-template-columns: 1fr 1.3fr;
        column-gap: 3rem;
        &_table {
            @include table;
            &_row {
                &_head {
                    background: rgba(130, 130, 130, 0.2);
                    font-size: 1.5rem;
                    font-weight: 700;
                }
                &_element {
                    text-align: center;
                    text-transform: capitalize;
                    &_type {
                        display: inline;
                        padding: 1rem 2rem;
                        border-radius: 5px;
                        img {
                            height: 2rem;
                            vertical-align: middle;
                        }
                        span {
                            padding-left: 0.5rem;
                            vertical-align: middle;
                        }
                    }
                    &_category {
                        display: inline;
                        padding: 0.5rem 1.5rem;
                        border-radius: 5px;
                        img {
                            height: 3.5rem;
                            vertical-align: middle;
                        }
                        span {
                            padding-left: 0.5rem;
                            vertical-align: middle;
                        }
                    }
                }
                &_generation {
                    text-transform: uppercase;
                }
            }
        }
    }
    &_effect {
        margin-top: 2rem;
        &_container {
            margin: 0 0 2rem;
            &_title {
                margin: 0 0 1rem;
                font-size: 3rem;
                font-weight: 700;
            }
            &_subtitle {
                margin: 0 0 1rem;
                font-size: 2.5rem;
                font-weight: 700;
                text-transform: capitalize;
            }
            &_text {
                font-size: 1.7rem;
                text-transform: lowercase;
            }
            &_meta {
                margin-top: 1rem;
                font-size: 1.5rem;
            }
            &_stat {
                @include moveData;
            }
            &_changes {
                @include moveData;
            }
            &_target {
                margin-left: 2rem;
                font-size: 1.5rem;
                text-transform: capitalize;
            }
        }
    }
    &_method {
        padding: 5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &_element {
            background: none;
            border: none;
            font-size: 1.7rem;
            font-weight: 700;
        }
        &_active {
            color: $red;
        }
    }
    &_learn {
        padding: 5rem 0;
        &_title {
            margin: 0 0 1rem;
            font-size: 3rem;
            font-weight: 700;
        }
        &_txt {
            margin: 0 0 3rem;
            font-size: 1.5rem;
        }
        &_list {
            @include flex;
            flex-wrap: wrap;
            &_element {
                @include flex;
                flex-direction: column;
                width: 18rem;
                height: 25rem;
                margin: 3rem;
                padding: 2rem 3rem;
                background: rgba(255, 255, 255, 0.4);
                border-radius: 10px;
                font-size: 1.5rem;
                text-align: center;
                border: 1px solid transparent;
                transition: 0.3s ease-in-out;
                img {
                    width: 96px;
                    height: 96px;
                }
                &_name {
                    font-weight: 700;
                    text-transform: capitalize;
                }
                &_types {
                    width: 100%;
                    height: 50%;
                    margin-top: 1rem;
                    @include flex;
                    flex-direction: column;
                    font-size: 1rem;
                    &_element {
                        @include flex;
                        width: 100%;
                        margin-bottom: 1rem;
                        padding: 0.5rem;
                        font-size: 1.5rem;
                        border-radius: 5px;
                        img {
                            height: 1.5rem;
                            width: 1.5rem;
                        }
                        span {
                            padding-left: 0.5rem;
                        }
                    }
                }
                &:hover {
                    border: 1px solid $red;
                }
                &:hover > &_name {
                    color: $red;
                }
            }
        }
    }
}

.active {
    display: block;
}

.hidden {
    display: none;
}