.pokemon {
    @include size-main-big;
    &_title {
        @include title;
        font-size: 4rem;
        text-align: center;
    }
    &_gen {
        @include subtitle;
        font-size: 1.5rem;
        text-align: center;
    }
    &_nav {
        @include nav;
    }
    &_data {
        padding-bottom: 5rem;
        display: grid;
        align-items: center;
        grid-template-columns: 55% 35%;
        column-gap: 10%;
        &_container {
            &_list {
                &_desc {
                    font-size: 2rem;
                }
                &_types {
                    position: relative;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    &_element {
                        margin: 2rem;
                        padding: 0.5rem;
                        @include type;
                        img {
                            height: 2.5rem;
                        }
                        span {
                            padding-left: 0.5rem;
                            font-family: $font-game;
                            font-size: 1.7rem;
                        }
                    }
                }
            }
            &_table {
                @include table;
                &_body {
                    &_row {
                        &_head {
                            background: rgba(130, 130, 130, 0.2);
                        }
                        &_element {
                            @include bold;
                            text-align: center;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
        &_more {
            @include flex;
            flex-direction: column;
            &_legendary {
                margin: 1rem 0 0;
                padding: 1rem 1.5rem;
                border: 1px solid $purple;
                border-radius: 50px;
                background: $purple;
                color: $light;
                font-size: 1.7rem;
                transition: 0.3s ease-in-out;
                &:hover {
                    background: none;
                    color: $dark;
                }
            }
            &_mythical {
                margin: 1rem 0 0;
                padding: 1rem 1.5rem;
                border: 1px solid $purple;
                border-radius: 50px;
                background: none;
                color: $dark;
                font-size: 1.7rem;
                transition: 0.3s ease-in-out;
                &:hover {
                    background: $purple;
                    color: $light;
                }
            }
        }
    }
    &_evo {
        padding-bottom: 5rem;
        &_title {
            @include h3-title;
        }
    }
    &_info {
        padding-bottom: 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
        &_container {
            &_title {
                @include h3-title;
            }
            &_table {
                @include table;
                &_row {
                    &_head {
                        background: rgba(130, 130, 130, 0.2);
                        text-transform: capitalize;
                    }
                    &_element {
                        @include bold;
                        text-align: center;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    &_stats {
        padding-bottom: 5rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
        &_container {
            &_title {
                @include h3-title;
            }
            &_table {
                &_row {
                    &_element {
                        font-size: 1.5rem;
                        text-transform: capitalize;
                    }
                    &_progress {
                        width: 100%;
                        min-width: 150px;
                        &_inner {
                            position: relative;
                            width: 100%;
                            height: 12px;
                            background: $light;
                            border: 1px solid $dark;
                            border-radius: 40px;
                            span {
                                max-width: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 10px;
                                background: $dark;
                                border-radius: 40px;
                            }
                        }
                    }
                    &_total {
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                }
            }
        }
        &_types {
            &_title {
                @include h3-title;
            }
        }
    }
    &_method {
        @include secondary-nav;
        padding: 0 0 2.5rem;
    }
    &_moves {
        padding-bottom: 5rem;
        &_title {
            @include h3-title;
        }
        &_table {
            @include table;
            &_head {
                @include head;
            }
            &_body {
                &_row {
                    @include row;
                    &_element {
                        text-transform: capitalize;
                        img {
                            width: 32px;
                            height: 32px;
                        }
                        &_machine {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        &_void {
            @include flex;
            @include bold;
        }
    }
    &_sprites {
        padding-bottom: 5rem;
        &_title {
            @include h3-title;
        }
        &_container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 3rem;
            align-items: center;
            justify-items: center;
            &_inner {
                @include flex;
                flex-direction: column;
                img {
                    width: 96px;
                    height: 96px;
                }
                &_text {
                    font-size: 1.5rem;
                }
            }
        }
    }
    &_buttons {
        &_container {
            &_precedent {

            }
            &_next {

            }
        }
    }
}

span {
    text-transform: capitalize;
}