.type {
    @include size-main-big;
    &_title {
        @include title;
        margin-bottom: 5rem;
    }
    &_damage {
        &_title {
            @include subtitle;
        }
        &_table {
            @include table;
            margin: 0.5rem 0 5rem;
            &_row {
                &_head {
                    width: 25%;
                    background: rgba(130, 130, 130, 0.2);
                    font-size: 1.5rem;
                }
                &_element {
                    background: none !important;
                    text-align: center;
                    img {
                        width: 32px;
                        height: 32px;
                        transition: 0.3s ease-in-out;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                    &:hover {
                        background: rgba(130, 130, 130, 0.2);
                    }
                }
            }
        }
    }
    &_container {
        padding: 5rem 0;
        &_subtitle {
            @include subtitle;
            text-transform: none;
        }
        &_pokemon {
            @include flex;
            flex-wrap: wrap;
            &_inner {
                width: 14rem;
                height: 21rem;
                margin: 3rem;
                padding: 2rem 3rem;
                @include flex;
                flex-direction: column;
                background: rgba(255, 255, 255, 0.4);
                border-radius: 10px;
                text-align: center;
                border: 1px solid transparent;
                transition: 0.3s ease-in-out;
                &_img {
                    width: 96px;
                    height: 96px;
                    margin: 0 auto;
                }
                &_id {
                    font-size: 1.3rem;
                }
                &_name {
                    font-size: 1.7rem;
                    font-weight: 700;
                    text-transform: capitalize;
                    transition: 0.3s ease-in-out;
                }
                &:hover {
                    border: 1px solid $red;
                }
                &:hover > &_name {
                    color: $red;
                }
            }
        }
        &_table {
            @include table;
            margin-top: 3rem;
            &_head {
                @include head;
            }
            &_body {
                &_row {
                    @include row;
                    &_name {
                        @include name;
                        cursor: pointer;
                    }
                    &_element {
                        text-align: center;
                    }
                }
            }
        }
        &_comment {
            text-align: center;
            font-size: 1.3rem;
            margin: 0.75rem 0 0;
        }
    }
    &_button {
        @include button;
    }
}

span {
    text-transform: capitalize;
}