@use '@/styles/abstracts' as *;
@use '@/styles/common' as *;

.section {
  @extend .sectionTop;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  & table {
    & tr {
      height: 100px;

      & th {
        width: 33%;
      }

      & td {
        text-align: left;
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  & img {
    @include sm {
      width: 48px;
      height: 48px;
    }
  }
}

.table {
  @extend .table;
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;

  & tr {
    border: 1px solid rgba(130, 130, 130, 0.2);
    border-left: none;
    border-right: none;

    & th {
      background: rgba(130, 130, 130, 0.2);
      font-size: 1.5rem;
    }

    & td {
      height: 100px;

      & div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1.5rem;

        & a {
          width: 32px;
          height: 32px;
          cursor: pointer;

          & img {
            cursor: pointer;
          }
        }
      }
    }

    &:nth-of-type(4) {
      border-bottom: 5px solid rgba(130, 130, 130, 0.2);
    }
  }

  &:first-of-type {
    margin-bottom: 5rem;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.subtitle {
  @extend .leftSubtitle;
  text-transform: none;
}

.name {
  @extend .tBold;
  & a {
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:hover {
      @include themed {
        border-bottom: 1px solid t('text');
      }
    }
  }
}

.data {
  text-align: center;
  text-transform: capitalize;
}

.comment {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.75rem 0 0;
}
