@use '@/styles/abstracts' as *;
@use '@/styles/common' as *;

.section {
  @extend %sectionTop;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  & table {
    & tr {
      height: 100px;

      & th {
        width: 33%;
      }

      & td {
        text-align: left;
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  & img {
    @include sm {
      width: 48px;
      height: 48px;
    }
  }
}

%typeTable {
  @extend %table;

  width: 100%;
  height: 100%;
  margin-top: 0.5rem;

  & tr {
    & td {
      height: 100px;

      & div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1.5rem;

        & a {
          width: 32px;
          height: 32px;
          cursor: pointer;

          & img {
            cursor: pointer;
          }
        }
      }
    }

    &:nth-of-type(4) {
      @include themed {
        border-bottom: 5px solid t('border');
      }
    }
  }

  &:first-of-type {
    margin-bottom: 5rem;
  }
}

.table {
  @extend %typeTable;
}

.subtitle {
  @extend %leftSubtitle;

  text-transform: none;
  margin-bottom: 3rem;
}

.name {
  @extend %tBold;

  & a {
    cursor: pointer;

    &:hover {
      @include themed {
        text-decoration: underline;
      }
    }
  }
}

.data {
  text-align: center;
  text-transform: capitalize;
}

.comment {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.75rem 0 0;
}
