@use '@/styles/abstracts' as *;

.filters {
  display: grid;
  grid-template:
    'search search search'
    'form generation type';
  gap: 2rem;

  @include md {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .search {
      width: 100%;
    }
  }
}

%dropdown {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  flex-direction: column;

  & label {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
}

.search {
  grid-area: search;
}

.form {
  @extend %dropdown;

  grid-area: form;
}

.generation {
  @extend %dropdown;

  grid-area: generation;
}

.type {
  @extend %dropdown;

  grid-area: type;
}

.explanation {
  width: 100%;
  text-align: center;
  margin-top: -4rem;
  font-size: 1.3rem;
  font-weight: 600;
  @include themed {
    color: t('lowContrastText');
  }
}

.list {
  max-width: 1300px;
  min-height: 80vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  gap: 2rem;

  @include md {
    grid-template-columns: repeat(2, 1fr);
  }

  @include xs {
    grid-template-columns: repeat(1, 1fr);
  }
}

.element {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 25px;
  text-align: center;
  margin-top: 72px;

  & h2 {
    font-size: 3rem;
    font-family: Oswald, sans-serif;
    text-transform: lowercase;
    font-variant: small-caps;

    & a {
      cursor: pointer;

      &:hover {
        color: $red;
      }
    }

    @include sm {
      font-size: 3.5rem;
    }
  }

  @include themed {
    background-color: t('elementBackground');
  }

  &:hover,
  &:hover .image {
    @include themed {
      background-color: t('elementHoverBackground');
    }
  }
}

.number {
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 50px;

  @include themed {
    color: t('lowContrastText');
  }

  @include sm {
    font-size: 1.7rem;
  }
}

.sprite {
  position: relative;
}

.shiny {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image {
  position: relative;
  margin: -72px auto 0;
  border-radius: 50%;
  @include themed {
    background-color: t('elementBackground');
  }

  &:hover .shiny {
    opacity: 1;
    z-index: 3;
  }
}

%types {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & div {
    width: fit-content;
    padding: 0.5rem;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid rgb(22 22 22 / 20%);

    @include themed {
      color: t('highContrastText');
      text-shadow:
        t('appBackground') -1px -1px 0,
        t('appBackground') 1px -1px 0,
        t('appBackground') -1px 1px 0,
        t('appBackground') 1px 1px 0;
    }

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      cursor: pointer;

      & img {
        cursor: pointer;
      }

      & span {
        font-family: Oswald, sans-serif;
        cursor: pointer;
      }
    }

    @include sm {
      font-size: 2rem;
    }
  }
}

.types {
  @extend %types;
}

.scroll {
  padding: 0.5rem;
  display: flex;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  font-size: 5rem;
  border-radius: 50%;
  cursor: pointer;

  @include themed {
    background-color: t('subtleBackground');
  }

  &:hover {
    @include themed {
      background: t('elementActiveBackground');
    }
  }

  @include sm {
    right: 3rem;
    bottom: 3rem;
    font-size: 4rem;
  }
}
