@use '@/styles/abstracts' as *;

.search {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'search form generation';
  gap: 2rem;

  @include md {
    display: grid;
    grid-template:
      'search search'
      'form generation';
    row-gap: 2rem;
    column-gap: 4rem;
  }
}

.dropdown {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  flex-direction: column;

  & label {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    justify-self: flex-start;
  }

  &:first-of-type {
    grid-area: form;
  }

  &:last-of-type {
    grid-area: generation;
  }
}

.explanation {
  width: 100%;
  text-align: center;
  margin-top: -4rem;
  margin-bottom: 5rem;
  font-size: 1.3rem;
}

.verticalText {
  @supports (writing-mode: sideways-rl) {
    display: block;
    writing-mode: sideways-rl;
  }

  display: none;
  font-size: 7rem;
  position: fixed;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);

  @include themed {
    color: t('text');
  }

  @include xl {
    display: none;
  }
}

.list {
  max-width: 1300px;
  min-height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.element {
  width: 21rem;
  height: 32rem;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background: rgb(255 255 255 / 25%);
  border: 1px solid transparent;
  border-radius: 25px;
  text-align: center;

  & h2 {
    font-size: 3rem;
    font-family: Oswald, sans-serif;
    text-transform: capitalize;

    & a {
      cursor: pointer;

      &:hover {
        color: $red;
      }
    }

    @include sm {
      font-size: 3.5rem;
    }
  }

  &:nth-child(even) {
    &:hover {
      border-radius: 10px 50px;

      @include sm {
        border-radius: 7px 35px;
      }
    }
  }

  &:nth-child(odd) {
    &:hover {
      border-radius: 50px 10px;

      @include sm {
        border-radius: 35px 7px;
      }
    }
  }

  @include sm {
    width: 26rem;
    height: 37rem;
    padding: 1.5rem 2.5rem;
  }
}

.number {
  padding: 0.1rem 0.7rem;
  font-size: 1.3rem;
  color: #c4c4c4;
  background-color: #161616;
  border-radius: 50px;

  @include sm {
    padding: 0.1rem 1rem;
    font-size: 1.7rem;
  }
}

.sprite {
  position: relative;
  top: 0;
  left: 0;
}

.shiny {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image {
  position: relative;
  margin: 0 auto;

  &:hover .shiny {
    opacity: 1;
    z-index: 3;
  }
}

%types {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  & div {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    border: 1px solid rgb(22 22 22 / 20%);

    @include themed {
      color: t('text');
      text-shadow:
        t('bg') -1px -1px 0,
        t('bg') 1px -1px 0,
        t('bg') -1px 1px 0,
        t('bg') 1px 1px 0;
    }

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      cursor: pointer;

      & img {
        cursor: pointer;
      }

      & span {
        font-family: Oswald, sans-serif;
        cursor: pointer;
      }
    }

    @include sm {
      font-size: 2rem;
    }
  }
}

.types {
  @extend %types;
}

.scroll {
  padding: 0.5rem;
  display: flex;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  font-size: 5rem;
  border-radius: 50%;
  background-color: rgb(140 140 140 / 20%);
  cursor: pointer;

  &:hover {
    @include themed {
      color: t('bg');
      background: t('text');
    }
  }

  @include sm {
    right: 3rem;
    bottom: 3rem;
    font-size: 4rem;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1.5rem;

  & h2 {
    margin-bottom: 0;
  }

  & button {
    background: none;
    border: none;

    & svg {
      font-size: 4rem;

      & path {
        stroke-width: 1;

        @include themed {
          fill: t('bg');
          stroke: t('text');
        }
      }
    }
  }
}
