@use '@/styles/common' as *;
@use '@/styles/abstracts' as *;

.navSection {
  width: 100%;
  height: 100%;

  & nav {
    margin-top: 3rem;
  }

  & span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
  }

  & nav:empty + span {
    display: block;
  }
}

.nav {
  @extend %methodNav;

  & button {
    text-transform: capitalize;

    // @include themed {
    //   color: t('text');
    // }
  }
}

.placeholder {
  display: none;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: center;

  & li {
    align-self: center;
    font-size: 1.7rem;
    text-transform: capitalize;

    & a {
      cursor: pointer;
      border-bottom: 1px solid transparent;

      &:hover {
        @include themed {
          border-bottom: 1px solid t('text');
        }
      }
    }
  }

  &:empty + .placeholder {
    display: block;
  }

  @include sm {
    grid-template-columns: repeat(2, 1fr);

    & li {
      font-size: 2rem;
    }
  }
}

.table {
  @extend %fullWidthTable;

  & td {
    padding: 0;
    text-transform: capitalize;
    border-top: 2px solid rgb(130 130 130 / 20%);
    border-bottom: 2px solid rgb(130 130 130 / 20%);

    & p {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 1.5rem;
      border-top: 1px solid rgb(130 130 130 / 20%);

      &:first-of-type {
        border-top: none;
      }
    }

    & span {
      &::after {
        margin-left: 1rem;
        content: '&';
      }

      &:last-of-type {
        &::after {
          content: '';
        }
      }
    }
  }

  & tfoot {
    & td {
      padding: 1.5rem;
    }
  }
}
