@use '@/styles/abstracts' as *;

.base {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.back {
  gap: 1rem;
  background: none;
  @include themed {
    color: t('highContrastText');
    background-color: t('elementBackground');
    border: 1px solid t('border');
  }

  &:hover {
    @include themed {
      background: t('elementHoverBackground');
      border: 1px solid t('hoverBorder');
    }
  }
}

.close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  padding: 1rem;
  border-color: transparent;
  border-radius: 50px;
  font-size: 3rem;
  cursor: pointer;
  background-color: $light;
  color: $dark;

  &:hover {
    border-color: $light;
    background-color: transparent;
    color: $light;
  }
}

.primary {
  @include themed {
    border-color: t('border');
    background-color: t('highContrastText');
    color: t('appBackground');
  }

  &:hover {
    @include themed {
      background: t('appBackground');
      border-color: t('hoverBorder');
      color: t('highContrastText');
    }
  }

  @include md {
    font-size: 3rem;
  }
}

.secondary {
  @include themed {
    background-color: t('appBackground');
    border-color: t('bodrer');
    color: t('highContrastText');
  }

  @include md {
    font-size: 3rem;
  }
}

.medium {
  width: auto;
}

.fit {
  width: fit-content;
}

.large {
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & span {
    font-size: 1.7rem;
    cursor: pointer;
  }
}
