@use '@/modules/pokedex/Pokedex.module.scss' as *;
@use '@/modules/types/type/Type.module.scss' as *;
@use '@/styles/abstracts' as *;

.typesList {
  @extend %types;

  width: fit-content;
  flex-direction: row;
  margin-bottom: 1rem;
  gap: 2rem;

  & div {
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
  }
}

.table {
  @extend %typeTable;

  height: auto;
  width: 100%;

  & tr {
    & td {
      height: auto;
    }

    &:nth-of-type(4) {
      @include themed {
        border-bottom: 1px solid t('border');
      }
    }
  }

  &:first-of-type {
    margin-bottom: 0;
  }
}
