@use 'sass:map';

// Common colors
$red: #aa2429;
$purple: #7c66dc;

// Dark theme
$dark1: #111;
$dark2: #191919;
$dark3: #222;
$dark4: #2a2a2a;
$dark5: #313131;
$dark6: #3a3a3a;
$dark7: #484848;
$dark8: #606060;
$dark9: #6e6e6e;
$dark10: #7b7b7b;
$dark11: #b4b4b4;
$dark12: #eee;

// Light theme
$light1: #fcfcfc;
$light2: #f9f9f9;
$light3: #f0f0f0;
$light4: #e8e8e8;
$light5: #e0e0e0;
$light6: #d9d9d9;
$light7: #cecece;
$light8: #bbb;
$light9: #8d8d8d;
$light10: #838383;
$light11: #646464;
$light12: #202020;
$light: #e5e5e5;
$dark: #171717;
$themes: (
  dark: (
    bg: $dark,
    text: $light,
    appbackground: $dark1,
    subtlebackground: $dark2,
    elementbackground: $dark3,
    elementhoverbackground: $dark4,
    elementactivebackground: $dark5,
    subtleborder: $dark6,
    border: $dark7,
    hoverborder: $dark8,
    solidbackground: $dark9,
    solidhoverbackground: $dark10,
    lowcontrasttext: $dark11,
    highcontrasttext: $dark12,
  ),
  light: (
    bg: $light,
    text: $dark,
    appbackground: $light1,
    subtlebackground: $light2,
    elementbackground: $light3,
    elementhoverbackground: $light4,
    elementactivebackground: $light5,
    subtleborder: $light6,
    border: $light7,
    hoverborder: $light8,
    solidbackground: $light9,
    solidhoverbackground: $light10,
    lowcontrasttext: $light11,
    highcontrasttext: $light12,
  ),
);

@mixin themed {
  @each $theme, $map in $themes {
    :global(.#{$theme}-theme) & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map.get($map, $key);
        $theme-map: map.merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;

      $theme-map: null !global;
    }
  }
}

@mixin gthemed {
  @each $theme, $map in $themes {
    .#{$theme}-theme & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map.get($map, $key);
        $theme-map: map.merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;

      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}

%type {
  &#normal {
    background-color: #969592;
  }

  &#fire {
    background-color: #db4249;
  }

  &#water {
    background-color: #55b8e2;
  }

  &#grass {
    background-color: #459f4d;
  }

  &#electric {
    background-color: #dbb508;
  }

  &#ice {
    background-color: #6db5ba;
  }

  &#fighting {
    background-color: #d77a49;
  }

  &#poison {
    background-color: #82549a;
  }

  &#ground {
    background-color: #9a5e41;
  }

  &#flying {
    background-color: #5983ef;
  }

  &#psychic {
    background-color: #e76e9a;
  }

  &#bug {
    background-color: #9eb559;
  }

  &#rock {
    background-color: #a28d79;
  }

  &#ghost {
    background-color: #a2729a;
  }

  &#dark {
    background-color: #555461;
  }

  &#dragon {
    background-color: #1085a2;
  }

  &#steel {
    background-color: #7d879a;
  }

  &#fairy {
    background-color: #ef9bb6;
  }
}

.type {
  @extend %type;
}
