.abilities {
    @include size-main-big;
    &_title {
        @include title;
    }
    &_search {
        @include search;
    }
    &_table {
        @include table;
        &_head {
            @include head;
        }
        &_name {
            @include name;
            text-transform: capitalize;
            cursor: pointer;
        }
        &_effect {
            text-align: center;
            span {
                display: none;
                &:first-child {
                    display: inline;
                }
            }
        }
    }
}