.machines {
    @include size-main-big;
    &_title {
        @include title;
    }
    &_search {
        display: flex;
        flex-direction: column;
        width: 25%;
        margin-bottom: 5rem;
        &_input {
            padding: 0.5rem 1rem;
            background: transparent;
            border: none;
            border-bottom: 2px solid $dark;
            transition: 0.3s ease-in-out;
            &:focus {
                outline: none;
                border-bottom: 2px solid $red;
            }
            &::placeholder {
                color: $dark;
                opacity: 0.8;
            }
        }
    }
    &_table {
        @include table;
        &_head {
            @include head;
        }
        &_body {
            &_row {
                @include row;
                &_name {
                    @include name;
                }
                &_element {
                    text-align: center;
                }
            }
        }
    }
}