.moves {
    @include size-main-big;
    &_title {
        @include title;
    }
    &_table {
        @include table;
        &_head {
            @include head;
        }
        &_body {
            &_row {
                @include row;
                &_name {
                    @include name;
                    cursor: pointer;
                }
                &_category {
                    @include flex;
                    img {
                        width: 2rem;
                    }
                }
                &_type {
                    @include flex;
                    width: 75%;
                    margin: 0 auto;
                    padding: 0.5rem 1rem;
                    @include type;
                    img {
                        width: 1.5rem;
                    }
                    span {
                        font-family: $font-game;
                        font-size: 1rem;
                        padding-left: 0.3rem;
                    }
                }
                &_effect {
                    text-align: center;
                    span {
                        display: none;
                        &:first-child {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
    .status_title {
        margin-top: 5rem;
        @include title;
    }
    .status_table {
        @include table;
        &_head {
            @include head;
        }
        &_body {
            &_row {
                @include row;
                &_name {
                    @include name;
                }
                &_moves {
                    &_link {
                        display: block;
                        padding: 0.5rem;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}