.moves {
    @include size-main-big;
    &_title {
        @include title;
    }
    &_nav {
        @include secondary-nav;
        padding: 0 0 2.5rem;
    }
    &_search {
        @include search;
        justify-content: flex-start;
    }
    &_table {
        @include table;
        &_head {
            @include head;
        }
        &_body {
            &_row {
                @include row;
                &_name {
                    @include name;
                    cursor: pointer;
                }
                &_category {
                    @include flex;
                    img {
                        width: 2rem;
                    }
                }
                &_type {
                    display: inline;
                    padding: 0.5rem 1.5rem;
                    @include type;
                    img {
                        width: 1.5rem;
                        vertical-align: middle;
                    }
                    span {
                        font-family: $font-game;
                        font-size: 1rem;
                        padding-left: 0.5rem;
                        vertical-align: middle;
                    }
                }
                &_effect {
                    text-align: center;
                    span {
                        display: none;
                        &:first-child {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
    &_status_title {
        margin-top: 5rem;
        @include title;
    }
    &_status_table {
        @include table;
        &_head {
            @include head;
        }
        &_body {
            &_row {
                @include row;
                &_name {
                    @include name;
                }
                &_moves {
                    &_link {
                        display: block;
                        padding: 0.5rem;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

.active {
    display: block;
}

.hidden {
    display: none;
}