.pokedex {
    width: 75%;
    margin: 0 auto;
    padding: 5rem 0;
    &_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &_inner {
            width: 20rem;
            margin: 3rem;
            padding: 2rem 3rem;
            background: rgba(255, 255, 255, 0.4);
			border-radius: 10px;
            text-align: center;
            transition: 0.3s ease-in-out;
            &_image {
                width: 96px;
                height: 96px;
                position: relative;
                margin: 0 auto;
                &:hover .pokedex_container_inner_image_shiny {
                    opacity: 1;
                }
                &_sprite {
                    position: relative;
                    top: 0;
                    left: 0;
                    transition: 0.3s ease-in-out;
                }
                &_shiny {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                }
            }
            h2 {
                font-size: 2.3rem;
                font-weight: 700;
                text-transform: capitalize;
            }
            p {
                font-size: 1.3rem;
            }
            &_types {
                position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.5rem;
				margin: 1rem auto;
				border-radius: 5px;
				text-transform: uppercase;
				text-align: center;
				text-shadow: 1px 1px 2px rgba(0,0,0,.7);
				color: $light;
				border: 1px solid rgba($color: #111111, $alpha: 0.2);
				font-size: 1.3rem;
				img {
					height: 1.5rem;
				}
				span {
					padding-left: 0.5rem;
				}
            }
            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}