.pokedex {
    @include size-main-small;
    &_search {
        @include search;
        display: flex;
        &_dropdown {
            @include flex;
            flex-direction: column;
            label {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }
            select {
                width: 10vw;
                background: transparent;
                border: 1px solid $dark;
                border-radius: 10px;
            }
        }
    }
    &_title {
        @include title;
        margin-bottom: 0.5rem
    }
    &_subtitle {
        @include subtitle;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    &_container {
        @include flex;
        flex-wrap: wrap;
        &_inner {
            width: 20rem;
            height: 30rem;
            margin: 3rem;
            padding: 2rem 3rem;
            @include flex;
            flex-direction: column;
            background: rgba(255, 255, 255, 0.4);
            border: 1px solid transparent;
			border-radius: 10px;
            text-align: center;
            transition: 0.3s ease-in-out;
            &_image {
                position: relative;
                margin: 0 auto;
                &:hover .pokedex_container_inner_image_shiny {
                    opacity: 1;
                }
                &_sprite {
                    position: relative;
                    top: 0;
                    left: 0;
                    transition: 0.3s ease-in-out;
                }
                &_shiny {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                }
            }
            h2 {
                font-size: 1.5rem;
                font-family: $font-game;
                text-transform: capitalize;
                cursor: pointer;
                transition: 0.3s ease-in-out;
                &:hover {
                    color: $red;
                }
            }
            p {
                font-size: 1.3rem;
            }
            &_types {
                position: relative;
                width: 100%;
                height: 50%;
				@include flex;
                flex-direction: column;
				font-size: 1.3rem;
                &_element {
                    width: 100%;
                    margin-bottom: 1rem;
                    padding: 0.5rem;
                    @include type;
                    img {
                        height: 1.5rem;
                    }
                    span {
                        padding-left: 0.5rem;
                        font-family: $font-game;
                    }
                }
            }
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    &_gifs {
        display: flex;
        justify-content: space-around;
        &_reshiram {
            transform: scaleX(-1);
        }
    }
}