/*fonts start*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*fonts end*/

/*variables start*/

$font-sans: 'Quicksand', sans-serif;
$font-game: 'Press Start 2P', cursive;

$light: #c4c4c4;
$dark: #161616;
$red: #cc0000;
$purple: #5e318f;

/*variables end*/

/*mixin general start*/

@mixin size-main-big {
	max-width: 1700px;
    margin: 0 auto;
    padding: 5rem;
}

@mixin size-main-small {
    max-width: 1300px;
    margin: 0 auto;
    padding: 5rem;
}

@mixin search {
	display: flex;
	flex-direction: column;
	width: 25%;
	margin-bottom: 5rem;
	&_input {
		padding: 0.5rem 1rem;
		background: transparent;
		border: none;
		border-bottom: 2px solid $dark;
		transition: 0.3s ease-in-out;
		&:focus {
			outline: none;
			border-bottom: 2px solid $red;
		}
		&::placeholder {
			color: $dark;
			opacity: 0.8;
		}
	}
}

@mixin nav {
	position: relative;
	padding: 5rem 0;
	z-index: 100;
	&_list {
		display: flex;
		align-items: center;
		justify-content: space-around;
		&_dropdown {
			display: inline-block;
			position: relative;
			button {
				background: none;
				border: none;
				font-size: 1.7rem;
				font-weight: 700;
			}
			&_content {
				display: none;
				position: absolute;
				white-space: nowrap;
				background: rgb(255, 255, 255);
				button {
					display: block;
					background: none;
					font-size: 1.5rem;
					border: none;
					margin: 1rem;
					cursor: pointer;
					&:hover {
						color: $red;
					}
				}
			}
			&:hover &_content {
				display: block;
			}
		}
	}
}

@mixin secondary-nav {
	padding: 5rem 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	&_element {
		position: relative;
		background: none;
		border: 1px solid transparent;
		color: $dark;
		font-size: 1.7rem;
		font-weight: 700;
		transition: 0.3s ease-in-out;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			border-radius: 5px;
			transition: 0.3s ease-in-out;
		}
		&:hover::before {
			opacity: 0 ;
			transform: scale(0.5,0.5);
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0;
			transition: 0.3s ease-in-out;
			background: $dark;
			border: 1px solid $dark;
			border-radius: 5px;
			transform: scale(1.2,1.2);
		}
		&:hover::after {
			opacity: 1;
			transform: scale(1,1);
		}
		p {
			position: relative;
			padding: 1rem 1.5rem;
			z-index: 99;
			cursor: pointer;
			transition: 0.3s ease-in-out;
			&:hover {
				color: $light;
			}
		}
	}
	&_active {
		position: relative;
		font-size: 1.7rem;
		font-weight: 700;
		border: 1px solid transparent;
		border-radius: 5px;
		background: $dark;
		color: $light;
		transition: 0.3s ease-in-out;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			border-radius: 5px;
			transition: 0.3s ease-in-out;
		}
		&:hover::before {
			opacity: 0 ;
			transform: scale(0.5,0.5);
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0;
			transition: 0.3s ease-in-out;
			background: $light;
			border: 1px solid $dark;
			border-radius: 5px;
			transform: scale(1.2,1.2);
		}
		&:hover::after {
			opacity: 1;
			transform: scale(1,1);
		}
		p {
			position: relative;
			padding: 1rem 1.5rem;
			width: 100%;
			height: 100%;
			z-index: 99;
			color: $light;
			cursor: pointer;
			transition: 0.3s ease-in-out;
			&:hover {
				color: $dark;
			}
		}
	}
}

@mixin button {
	padding: 1rem 1.5rem;
	font-size: 1.5rem;
	font-weight: 700;
	background: none;
	color: $dark;
	border: 1px solid $dark;
	border-radius: 5px;
	transition: 0.3s ease-in-out;
	cursor: pointer;
	&:hover {
		background: $dark;
		color: $light;
		border: 1px solid $light;
	}
}

@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin bold {
	font-weight: 700;
	font-size: 1.7rem;
}

@mixin type {
	border-radius: 5px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0,0,0,.7);
	color: $light;
	border: 1px solid rgba($color: #161616, $alpha: 0.2);
}

/*mixin general end*/

/*mixin titles start*/

@mixin title {
	margin-bottom: 1.5rem;
    font-size: 3.5rem;
    font-family: $font-game;
	text-transform: capitalize;
	color: $light;
	text-shadow: rgb(22, 22, 22) -1px -1px 0px, rgb(22, 22, 22) 1px -1px 0px, rgb(22, 22, 22) -1px 1px 0px, rgb(22, 22, 22) 1px 1px 0px;
}

@mixin subtitle {
	font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

@mixin h3-title {
	margin: 0 0 1rem;
	font-size: 3.5rem;
	font-weight: 700;
	text-transform: capitalize;
}

@mixin h4-title {
	margin: 0 0 1rem;
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: capitalize;
}

/*mixin titles end*/

/*mixin table start*/

@mixin table {
	display: table;
	width: 100%;
	text-align: center;
	border: 1px solid rgba(130, 130, 130, 0.2);
	border-collapse: collapse;
	border-left: none;
	border-right: none;
	table-layout: fixed;
}

@mixin head {
	background: $dark;
	color: $light;
	@include bold;
	text-transform: capitalize;
}

@mixin row {
	text-transform: capitalize;
	&:hover {
		background: rgba(130, 130, 130, 0.2);
	}
}

@mixin name {
	@include bold;
	a {
		cursor: pointer;
		transition: 0.3s ease-in-out;
		border-bottom: 1px solid transparent;
	}
	a:hover {
		border-bottom: 1px solid $dark;
	}
}

/*mixin table end*/

/*mixin specific start*/

@mixin moveData {
	margin-left: 2rem;
	font-size: 1.5rem;
}

/*mixin specific end*/

/*general class styling start*/

.active {
    display: block;
}

.hidden {
    display: none;
}

.back_button {
	@include button;
}

/*general class styling end*/

/* css reset start*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    cursor: default;
}

a {
    text-decoration: none;
    color: inherit;
	cursor: pointer;
}

button {
	cursor: pointer;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 10px;
	line-height: 1.5;
}

/*css reset end*/

/*table cell style start */

th {
	padding: 1.5rem;
	font-size: 1.5rem;
	border: 1px solid rgba(130, 130, 130, 0.2);
	border-collapse: collapse;
	vertical-align: middle;
}

td {
	padding: 1.5rem;
	font-size: 1.5rem;
	border: 1px solid rgba(130, 130, 130, 0.2);
	border-collapse: collapse;
	border-left: none;
	border-right: none;
	vertical-align: middle;
}

/*table cell style end*/

/*dark theme start*/

body {
	height: 100vh;
	background: $light;
	color: $dark;
	font-family: $font-sans;
	scroll-behavior: smooth;
}

.dark {
	background: $dark;
	color: $light;
	select {
		color: $light;
		background-color: $dark;
		border-color: $light;
	}
	a::before {
		background: $light;
	}
	a::after {
		background: $light;
	}
	.header_inner h1 {
		color: $dark;
		text-shadow: $light -2px -2px 0px, $light 2px -2px 0px, $light -2px 2px 0px, $light 2px 2px 0px;
	}
	.footer {
		color: $dark;
	}
	.moves_title, .status_title, .pokedex_title, .ability_title, .type_title, .move_title {
		color: $dark;
		text-shadow: $light -1px -1px 0px, $light 1px -1px 0px, $light -1px 1px 0px, $light 1px 1px 0px;
	}
	input {
		border: 1px solid $light !important;
		&::placeholder {
			color: $light !important;
		}
	}
	button {
		color: $light !important;
	}
	.back_button {
		border: 1px solid $light;
		transition: 0.3s ease-in-out;
		&:hover {
			background: $light;
			color: $dark !important;
		}
	}
}

/*dark theme end*/

/*loading animation start*/

.cssfx-bar-wave {
	margin: 0 auto;
}

/*loading animation end*/

/*type styles start*/

#normal {
	background-color: #969592;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/normal.png);
	}
}

#fire {
	background-color: #db4249;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/fire.png);
	}
}

#water {
	background-color: #55b8e2;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/water.png);
	}
}

#grass {
	background-color: #459f4d;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/grass.png);
	}
}

#electric {
	background-color: #dbb508;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/electric.png);
	}
}

#ice {
	background-color: #6db5ba;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/ice.png);
	}
}

#fighting {
	background-color: #d77a49;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/fighting.png);
	}
}

#poison {
	background-color: #82549a;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/poison.png);
	}
}

#ground {
	background-color: #9a5e41;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/ground.png);
	}
}

#flying {
	background-color: #5983ef;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/flying.png);
	}
}

#psychic {
	background-color: #e76e9a;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/psychic.png);
	}
}

#bug {
	background-color: #9eb559;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/bug.png);
	}
}

#rock {
	background-color: #a28d79;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/rock.png);
	}
}

#ghost {
	background-color: #a2729a;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/ghost.png);
	}
}

#dark {
	background-color: #555461;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/dark.png);
	}
}

#dragon {
	background-color: #1085a2;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/dragon.png);
	}
}

#steel {
	background-color: #7d879a;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/steel.png);
	}
}

#fairy {
	background-color: #ef9bb6;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/fairy.png);
	}
}

#physical {
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/seals/home/move-physical.png);
	}
}

#special {
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/seals/home/move-special.png);
	}
}

#status {
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/seals/home/move-status.png);
	}
}

/*type styles end*/