/*fonts start*/

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*fonts end*/

/*variables start*/

$font-sans: 'Karla', sans-serif;
$font-game: 'Press Start 2P', cursive;

$light: #c4c4c4;
$dark: #161616;
$red: #cc0000;

/*variables end*/

/*mixin start*/

@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin size-main-big {
	width: 90%;
    margin: 0 auto;
    padding: 5rem 0;
}

@mixin size-main-small {
    width: 75%;
    margin: 0 auto;
    padding: 5rem 0;
}

@mixin table {
	width: 100%;
	text-align: center;
	border: 1px solid $dark;
	border-collapse: collapse;
	border-left: none;
	border-right: none;
	table-layout: fixed;
}

@mixin head {
	background: rgba(130, 130, 130, 0.2);
	&_row {
		text-transform: capitalize;
	}
}

@mixin row {
	text-transform: capitalize;
	&:hover {
		background: rgba(130, 130, 130, 0.2);
	}
}

@mixin name {
	font-size: 1.8rem;
	font-weight: 700;
	color: $red;
}

/*mixin end*/

/*type styles start*/

#normal {
	background-color: #969592;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/normal.png);
	}
}

#fire {
	background-color: #db4249;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/fire.png);
	}
}

#water {
	background-color: #55b8e2;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/water.png);
	}
}

#grass {
	background-color: #459f4d;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/grass.png);
	}
}

#electric {
	background-color: #dbb508;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/electric.png);
	}
}

#ice {
	background-color: #6db5ba;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/ice.png);
	}
}

#fighting {
	background-color: #d77a49;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/fighting.png);
	}
}

#poison {
	background-color: #82549a;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/poison.png);
	}
}

#ground {
	background-color: #9a5e41;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/ground.png);
	}
}

#flying {
	background-color: #5983ef;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/flying.png);
	}
}

#psychic {
	background-color: #e76e9a;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/psychic.png);
	}
}

#bug {
	background-color: #9eb559;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/bug.png);
	}
}

#rock {
	background-color: #a28d79;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/rock.png);
	}
}

#ghost {
	background-color: #a2729a;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/ghost.png);
	}
}

#dark {
	background-color: #555461;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/dark.png);
	}
}

#dragon {
	background-color: #1085a2;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/dragon.png);
	}
}

#steel {
	background-color: #5a8ea2;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/steel.png);
	}
}

#fairy {
	background-color: #ef9bb6;
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/types/masters/fairy.png);
	}
}

#physical {
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/seals/home/move-physical.png);
	}
}

#special {
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/seals/home/move-special.png);
	}
}

#status {
	img {
		content: url(https://raw.githubusercontent.com/msikma/pokesprite/master/misc/seals/home/move-status.png);
	}
}

/*type styles end*/

/* css reset start*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    cursor: default;
}

a {
    text-decoration: none;
    color: inherit;
	cursor: pointer;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 10px;
}

main {
	min-height: 100vh;
}

/*css reset end*/

/*td style start */

th {
	padding: 1.5rem;
	border: 1px solid $dark;
	border-collapse: collapse;
	border-color: rgba(130, 130, 130, 0.2);
	font-weight: 700;
	font-size: 1.8rem;
	vertical-align: middle;
	cursor: pointer;
}

td {
	padding: 1.5rem;
	font-size: 1.5rem;
	border: 1px solid $dark;
	border-collapse: collapse;
	border-color: rgba(130, 130, 130, 0.2);
	border-left: none;
	border-right: none;
	vertical-align: middle;
}

/*td style end*/

/*dark theme start*/

body {
	background: $light;
	color: $dark;
	font-family: $font-sans;
	scroll-behavior: smooth;
}

.dark {
	background: $dark;
	color: $light;
	select {
		color: $light;
		background-color: $dark;
		border-color: $light;
	}
	a::before {
		background: $light;
	}
	a::after {
		background: $light;
	}
	.header_inner h1 {
		color: $dark;
		text-shadow: $light -2px -2px 0px, $light 2px -2px 0px, $light -2px 2px 0px, $light 2px 2px 0px;
	}
	.footer {
		color: $dark;
	}
}

/*dark theme end*/

/*loading animation start*/

.cssfx-bar-wave {
	margin: 0 auto;
}

/*loading animation end*/