.types {
    @include size-main-small;
    &_container {
        @include flex;
        flex-wrap: wrap;
        &_element {
            width: 20rem;
            margin: 3rem;
			border-radius: 10px;
            a {
                @include flex;
                flex-direction: column;
                padding: 3rem;
                cursor: pointer;
                img {
                    width: 5rem;
                    cursor: pointer;
                }
                h2 {
                    margin-top: 1rem;
                    font-size: 2rem;
                    font-family: $font-game;
                    @include type;
                    border: none;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
        }
    }
}