@use '@/styles/common' as *;
@use '@/styles/abstracts' as *;

.page {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;

  @include themed {
    background-color: t('text');
    color: t('bg');
  }

  @include sm {
    grid-template-columns: 1fr;
  }
}

.close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 3rem;
  cursor: pointer;

  @include themed {
    background-color: t('bg');
    color: t('text');
  }

  &:hover {
    @include themed {
      border: 1px solid t('bg');
      background-color: t('text');
      color: t('bg');
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  background-image: url('https://www.pokepedia.fr/images/2/26/Frimapic.png'),
    linear-gradient(to right, rgb(0 0 0 / 30%) 0%, rgb(0 0 0 / 30%) 100%);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: ellipse(85% 100% at 10% 50%);

  @include sm {
    display: none;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 3rem;
}

.title {
  @include themed {
    color: t('bg');
  }

  & h2 {
    margin-bottom: 0;
  }

  & p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
  }
}

.providers {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
