@use '../abstracts' as *;

.h1 {
  padding: 0 1rem;
  font-size: 10rem;
  letter-spacing: 3px;
  cursor: pointer;

  @include gthemed {
    color: t('appBackground');
    text-shadow:
      t('highContrastText') -1px -1px 0,
      t('highContrastText') 1px -1px 0,
      t('highContrastText') -1px 1px 0,
      t('highContrastText') 1px 1px 0;
  }

  @include lg {
    font-size: 9rem;
  }

  @include md {
    font-size: 8.5rem;
  }

  @include sm {
    font-size: 7.5rem;
  }

  @include xs {
    font-size: 7rem;
  }

  & a {
    display: inline-block;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
}

%title {
  margin-bottom: 1.5rem;
  font-size: 6rem;
  color: #c4c4c4;
  text-transform: capitalize;
  text-align: center;

  @include gthemed {
    color: t('appBackground');
    text-shadow:
      t('highContrastText') -1px -1px 0,
      t('highContrastText') 1px -1px 0,
      t('highContrastText') -1px 1px 0,
      t('highContrastText') 1px 1px 0;
  }
}

.title {
  @extend %title;
}

.pageTitle {
  @extend %title;

  margin-bottom: 0.5rem;
}

%subtitle {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
}

.subtitle {
  @extend %subtitle;
}

%leftSubtitle {
  @extend %subtitle;

  text-align: left;
}

.leftSubtitle {
  @extend %leftSubtitle;
}

%h2 {
  margin-bottom: 1rem;
  font-size: 4.5rem;
  text-transform: capitalize;
  text-align: center;
}

.h2 {
  @extend %h2;
}

.leftH2 {
  @extend %h2;

  text-align: left;
}

.h3 {
  margin-bottom: 1.5rem;
  font-size: 3.5rem;
  text-transform: capitalize;

  &::first-letter {
    background: $red;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.h4 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: 600;
}

.small {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: lowercase;
}
