@use '../abstracts' as *;

.searchSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

%input {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  & label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  & input {
    width: 15vw;
    min-width: 15rem;
    padding: 0.5rem 1rem;
    background: transparent;
    border-radius: 5px;

    @include gthemed {
      color: t('highContrastText');
      border: 1px solid t('border');
    }

    &:focus {
      outline: none;
      @include gthemed {
        border: 1px solid t('hoverBorder');
      }
    }

    &::placeholder {
      opacity: 0.8;

      @include gthemed {
        color: t('lowContrastText');
      }
    }
  }
}

.input {
  @extend %input;
}

.dropdown {
  width: 100%;

  & .select__control {
    min-width: 15rem;
    padding: 0 0.5rem;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 1.7rem;

    @include gthemed {
      background: t('elementBackground');
      color: t('lowContrastText');
      border: 1px solid t('border');
    }

    &--is-focused {
      outline: none;
      box-shadow: none;
    }

    & .select__input-container {
      @include gthemed {
        color: t('lowContrastText') !important;
      }

      &::first-letter {
        text-transform: uppercase;
      }
    }

    & .select__placeholder {
      font-size: 1.7rem;

      @include gthemed {
        color: t('lowContrastText');
      }
    }

    & .select__indicator-separator {
      @include gthemed {
        background-color: t('lowContrastText');
      }
    }

    & .select__dropdown-indicator {
      @include gthemed {
        color: t('lowContrastText');
      }
    }
  }

  & .select__menu {
    text-transform: capitalize;
    font-size: 1.7rem;

    @include gthemed {
      color: t('highContrastText');
      background: t('elementBackground');
      border: 1px solid t('border');
    }

    & .select__option {
      cursor: pointer;
      background-color: transparent;

      &--is-focused {
        @include gthemed {
          background-color: t('elementHoverBackground');
        }
      }

      &--is-selected {
        @include gthemed {
          color: t('highContrastText');
        }
      }
    }
  }

  & .select__multi-value {
    @include gthemed {
      background-color: t('elementActiveBackground');
      color: t('highContrastText');
    }

    &__remove {
      cursor: pointer;

      &:hover {
        background-color: transparent;
        color: $red;
      }
    }

    & .select__input {
      color: white !important;
    }
  }

  & .select__single-value {
    padding: 3px 5px;
    border-radius: 5px;

    @include gthemed {
      background-color: t('elementActiveBackground');
      color: t('highContrastText');
    }
  }

  & .select__clear-indicator {
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: $red;
    }
  }
}
