@use '../abstracts' as *;

.genNav {
  position: relative;
  padding: 5rem 0;
  z-index: 5;

  & ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

    & li {
      margin: 0 0.5rem;
      display: inline-block;
      position: relative;

      .gen {
        background: none;
        border: none;
        font-size: 2rem;

        @include gthemed {
          color: t('text');
        }

        @include sm {
          font-size: 1.7rem;
        }
      }

      & div {
        display: none;
        position: absolute;
        white-space: nowrap;
        background-color: $light;
        border-radius: 5px;
        box-shadow: 2px 2px 15px 2px $dark;

        & button {
          display: block;
          background: none;
          font-size: 1.5rem;
          border: none;
          margin: 1rem;
          text-align: left;
          text-transform: capitalize;
          cursor: pointer;
          color: $dark;

          &:hover {
            color: $red;
          }

          @include sm {
            white-space: break-spaces;
          }
        }
      }

      &:hover {
        & div {
          display: block;
        }
      }

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

%methodNav {
  padding-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;

  & button {
    position: relative;
    background: none;
    border: 1px solid transparent;
    font-size: 1.7rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;

    @include gthemed {
      color: t('text');
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 5px;
      transition: 0.3s ease-in-out;
    }

    &:hover::before {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: 0.3s ease-in-out;
      border-radius: 5px;
      transform: scale(1.2, 1.2);

      @include gthemed {
        background-color: t('text');
        border: 1px solid t('text');
      }
    }

    &:hover::after {
      opacity: 1;
      transform: scale(1, 1);
    }

    & p {
      position: relative;
      text-transform: capitalize;
      padding: 1rem 1.5rem;
      z-index: 2;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        @include gthemed {
          color: t('bg');
        }
      }
    }
  }

  .button_active {
    position: relative;
    font-size: 1.7rem;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.3s ease-in-out;

    @include gthemed {
      background: t('text');
      color: t('bg');
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 5px;
      transition: 0.3s ease-in-out;
    }

    &:hover::before {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: 0.3s ease-in-out;
      border-radius: 5px;
      transform: scale(1.2, 1.2);

      @include gthemed {
        border: 1px solid t('text');
        background-color: t('bg');
      }
    }

    &:hover::after {
      opacity: 1;
      transform: scale(1, 1);
    }

    & p {
      position: relative;
      padding: 1rem 1.5rem;
      width: 100%;
      height: 100%;
      z-index: 3;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      @include gthemed {
        color: t('bg');
      }

      &:hover {
        @include gthemed {
          color: t('text');
        }
      }
    }
  }
}

.methodNav {
  @extend %methodNav;
}
