@use './inputs' as *;
@use './tables' as *;
@use '../abstracts' as *;

.search {
  @extend %input;

  min-width: 25rem;

  & label {
    font-size: 1.7rem;
  }

  & input {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    text-transform: capitalize;

    &::placeholder {
      font-size: 1.5rem;
      font-family: Quicksand, serif;

      @include gthemed {
        color: t('text');
      }
    }
  }

  @include md {
    grid-area: search;
  }

  @include xs {
    min-width: 0;
  }
}

.searchContainer {
  width: 100%;
  position: relative;
  z-index: 2;

  & ul {
    width: 100%;
    position: absolute;
    top: 0.5rem;
    left: 0;
    border-radius: 5px;

    @include gthemed {
      background: t('text');
      color: t('bg');
    }

    & li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 10%;
    }
  }
}

.searchLink {
  @extend %tLink;

  font-size: 1.7rem;

  &:hover {
    text-decoration: underline;
  }
}

.searchId {
  font-size: 1.7rem;
}
