@use '../abstracts' as *;

.tableContainer {
  width: 100%;
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 1rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;

    @include gthemed {
      background-color: t('bg');
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;

    @include gthemed {
      background-color: t('text');
    }
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgb(130 130 130 / 20%);
  }

  & td {
    min-width: 200px;
  }
}

%table {
  display: table;
  text-align: center;
  border: 1px solid rgb(130 130 130 / 20%);
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  table-layout: fixed;

  & th {
    padding: 1.5rem;
    font-size: 1.5rem;
    border: 1px solid rgb(130 130 130 / 20%);
    border-collapse: collapse;
    vertical-align: middle;

    & .cursor-pointer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      cursor: pointer;
    }
  }

  & td {
    padding: 1.5rem;
    font-size: 1.5rem;
    border-top: 1px solid rgb(130 130 130 / 20%);
    border-bottom: 1px solid rgb(130 130 130 / 20%);
    border-left: none;
    border-right: none;
    vertical-align: middle;
  }

  & tfoot {
    display: none;
    text-align: center;

    & tr {
      & td {
        font-size: 2.5rem;
        font-weight: 600;
      }
    }
  }

  & tbody:empty + tfoot {
    display: table-footer-group;
  }
}

.table {
  @extend %table;
}

.fullWidthTable {
  @extend %table;

  width: 100%;
}

.descTable {
  @extend %table;

  width: 100%;

  & th {
    background: rgb(130 130 130 / 20%);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
  }

  & td {
    text-align: left;
  }
}

.tHead {
  & th {
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: capitalize;
    background: rgb(130 130 130 / 20%);

    @include gthemed {
      color: t('text');
    }
  }
}

.tr {
  &:hover {
    background: rgb(130 130 130 / 20%);
  }
}

.tCapitalize {
  text-transform: capitalize;
}

.tUppercase {
  text-transform: uppercase;
}

%tBold {
  text-transform: capitalize;
  font-size: 1.7rem;
  font-weight: 600;
}

.tBold {
  @extend %tBold;
}

%tLink {
  text-transform: capitalize;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    @include gthemed {
      border-bottom: 1px solid t('text');
    }
  }

  .bold {
    font-weight: 600;
  }
}

.tLink {
  @extend %tLink;
}

.tCategory {
  & div {
    display: flex;
    align-items: center;
    justify-content: center;

    & span {
      text-transform: capitalize;
      padding-left: 0.5rem;
    }
  }
}

.tType {
  & div {
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      cursor: pointer;

      & img {
        cursor: pointer;
      }

      & span {
        font-family: Oswald, sans-serif;
        font-size: 1.7rem;

        @include gthemed {
          color: t('text');
          text-shadow: t('bg') -1px -1px 0, t('bg') 1px -1px 0,
            t('bg') -1px 1px 0, t('bg') 1px 1px 0;
        }

        cursor: pointer;
      }
    }
  }
}

.tEffect {
  text-align: start;

  & span {
    display: block;
  }
}
