@use '../abstracts' as *;

.searchSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

%input {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  & label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  & input {
    width: 15vw;
    min-width: 15rem;
    padding: 0.5rem 1rem;
    background: transparent;
    border-radius: 5px;
    color: var(--highContrastText);
    border: 1px solid var(--border);

    &:focus {
      outline: none;
      border: 1px solid var(--hoverBorder);
    }

    &::placeholder {
      opacity: 0.8;
      color: var(--lowContrastText);
    }
  }
}

.input {
  @extend %input;
}

.dropdown {
  width: 100%;

  & .select__control {
    min-width: 15rem;
    padding: 0 0.5rem;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 1.7rem;
    background: var(--elementBackground);
    color: var(--lowContrastText);
    border: 1px solid var(--border);

    &--is-focused {
      outline: none;
      box-shadow: none;
    }

    & .select__input-container {
      color: var(--lowContrastText) !important;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    & .select__placeholder {
      font-size: 1.7rem;
      color: var(--lowContrastText);
    }

    & .select__indicator-separator {
      background-color: var(--lowContrastText);
    }

    & .select__dropdown-indicator {
      color: var(--lowContrastText);
    }
  }

  & .select__menu {
    text-transform: capitalize;
    font-size: 1.7rem;
    padding: 1rem;
    z-index: 999;
    color: var(--highContrastText);
    background: var(--elementBackground);
    border: 1px solid var(--border);

    & .select__group-heading {
      font-weight: 600;
      color: var(--lowContrastText);
    }

    & .select__option {
      cursor: pointer;
      background-color: transparent;
      border-radius: 5px;
      font-weight: 600;

      &--is-focused {
        background-color: var(--elementHoverBackground);
      }

      &--is-selected {
        color: var(--highContrastText);
      }
    }
  }

  & .select__multi-value {
    background-color: var(--elementActiveBackground);
    color: var(--highContrastText);

    &__remove {
      cursor: pointer;

      &:hover {
        background-color: transparent;
        color: $red;
      }
    }

    & .select__input {
      color: white !important;
    }
  }

  & .select__single-value {
    padding: 3px 5px;
    border-radius: 5px;
    background-color: var(--elementActiveBackground);
    color: var(--highContrastText);
  }

  & .select__clear-indicator {
    cursor: pointer;

    &:hover {
      background-color: transparent;
      color: $red;
    }
  }
}
