.abilities {
    @include size-main-big;
    margin-bottom: 5rem;
    &_title {
        @include title;
    }
    &_search {
        @include search;
    }
    &_table {
        @include table;
        &_head {
            @include head;
        }
        &_body {
            &_row {
                @include row;
                &_name {
                    @include name;
                    text-transform: capitalize;
                    cursor: pointer;
                }
                &_effect {
                    text-align: center;
                    span {
                        display: none;
                        &:first-child {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
}