@use '@/styles/abstracts' as *;

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  & li {
    & div {
      transition: 0.3s ease-in-out;
      @include themed {
        border: 1px solid t('text');
      }

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

.type {
  width: 20rem;
  margin: 3rem;
  border-radius: 5px;

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;

    & img {
      cursor: pointer;
    }

    & h2 {
      margin-top: 1rem;
      font-size: 3rem;
      border-radius: 5px;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      @include themed {
        color: t('text');
        text-shadow: t('bg') -1px -1px 0, t('bg') 1px -1px 0,
          t('bg') -1px 1px 0, t('bg') 1px 1px 0;
      }
    }
  }

  @include sm {
    margin: 2rem;
  }
}
