@use '@/styles/abstracts' as *;

.auth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;

  @include md {
    display: none;
  }
}

.header {
  width: 90%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include sm {
    width: 95%;
  }

  & .connect,
  .connected {
    @include md {
      display: none;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.theme {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 48px;

  @include themed {
    color: t('text');
  }

  @include md {
    font-size: 32px;
  }
}
