@use '@/styles/abstracts' as *;
@use '@/styles/common' as *;

.circles {
  margin: 3rem 0 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  height: 15rem;

  svg {
    height: 100%;

    path:first-of-type {
      @include themed {
        stroke: t('highContrastText') !important;
      }
    }

    path:last-of-type {
      stroke: $red !important;
    }

    text {
      font-size: 1.3rem !important;
      font-weight: 600 !important;
      @include themed {
        fill: t('lowContrastText') !important;
      }
      @include md {
        font-size: 1.5rem !important;
      }
      @include sm {
        font-size: 1.7rem !important;
      }
      @include xs {
        font-size: 2rem !important;
      }
    }
  }

  @include lg {
    height: 30rem;
    row-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }

  @include sm {
    height: 45rem;
    row-gap: 4rem;
    grid-template-columns: 1fr 1fr;

    .circle {
      &-text {
        font-size: 2rem;
      }
    }
  }
}

.total {
  margin: 2rem 0;
  font-size: 1.7rem;
}

.details {
  margin-top: 1rem;

  & summary {
    width: fit-content;
    margin-bottom: 2rem;
    font-size: 2.3rem;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
  }
}

.table {
  @extend %fullWidthTable;

  border-bottom: none;

  & tr {
    @include themed {
      border: 1px solid t('border');
      border-left: none;
      border-right: none;
    }

    & th {
      font-size: 1.7rem;
      text-transform: capitalize;
      @include themed {
        background: t('elementBackground');
        color: t('highContrastText');
      }
    }

    & td {
      & input,
      select {
        width: 100%;
        padding: 0.7rem;
        border-radius: 5px;
        outline: none;
        @include themed {
          background: t('elementBackground');
          color: t('highContrastText');
          border: 1px solid t('border');
        }

        &::placeholder {
          opacity: 1;
          @include themed {
            color: t('lowContrastText');
          }
        }

        &:focus {
          @include themed {
            border: 1px solid t('hoverBorder');
          }
        }
      }

      & input[type='number'] {
        appearance: textfield;

        &::-webkit-inner-spin-button,
        ::-webkit-outer-spin-button {
          appearance: textfield;
        }
      }

      & select {
        width: 80%;
        margin: 0 auto;

        & option {
          text-transform: capitalize;
          @include themed {
            background-color: t('elementBackground');
            color: t('highContrastText');
          }

          &:hover {
            @include themed {
              background-color: t('elementHoverBackground');
            }
          }
        }
      }

      & button {
        display: inline;
      }
    }
  }

  & tr:last-of-type {
    border-bottom: none;

    & td {
      padding-bottom: 0;
    }
  }
}

.results {
  @extend %fullWidthTable;

  & td {
    @include themed {
      border-left: 1px solid t('border');
      border-right: 1px solid t('border');
    }
  }
}
