@use '@/styles/abstracts' as *;

.caught {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 2rem;

  & li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 2rem;
    border-radius: 5px;
    @include themed {
      background: t('elementBackground');
      border: 1px solid t('border');
    }

    & a {
      font-size: 2rem;
      font-weight: 600;
      text-transform: capitalize;
      cursor: pointer;

      &:hover {
        color: $red;
      }
    }

    & button {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      padding: 1rem 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: none;
      @include themed {
        border-top: 1px solid t('border');
      }
    }
  }
}
