@use '@/styles/abstracts' as *;

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 4rem;
  padding-top: 2rem;

  & li {
    text-align: center;
    font-size: 1.7rem;

    & button {
      background: none;
      border: none;

      & img {
        cursor: zoom-in;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }

  @include md {
    grid-template-columns: 1fr 1fr;
  }

  @include sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
      width: 180px;
      height: 240px;
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(33 33 33 / 85%);
  z-index: 999;
}

.modal {
  width: 40%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & img {
    border-radius: 5px;
    width: 100%;
    height: auto;
  }

  @include sm {
    width: 80%;
  }
}
