@use '@/styles/abstracts' as *;

.root {
  position: relative;
  display: flex;
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 100%;

  & .image {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}

.fallback {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 32px;

  @include themed {
    color: t('text');
  }
}
