@use '@/styles/abstracts' as *;

.footer {
  display: flex;
  align-items: center;
  background: hsla(29, 92%, 70%, 1);
  background: linear-gradient(
    0deg,
    hsla(29, 92%, 70%, 1) 0%,
    hsla(0, 87%, 73%, 1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    hsla(29, 92%, 70%, 1) 0%,
    hsla(0, 87%, 73%, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    hsla(29, 92%, 70%, 1) 0%,
    hsla(0, 87%, 73%, 1) 100%
  );
}

.inner {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;
  color: $dark;
}

.left {
  justify-self: left;
  font-size: 1.3rem;
}

.center {
  justify-self: center;
  font-size: 4rem;
  letter-spacing: 1px;
  font-family: 'Oswald';
  text-align: center;
  @include themed {
    color: t('text');
    text-shadow: t('bg') -1px -1px 0px, t('bg') 1px -1px 0px,
      t('bg') -1px 1px 0px, t('bg') 1px 1px 0px;
  }
}

.right {
  justify-self: right;
  height: 4rem;
  width: 4rem;

  & a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;

    & svg {
      width: 100%;
      height: 100%;
    }
  }
}
