@use '@/styles/abstracts' as *;

.genNav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 5rem 0;

  .dropdown {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    flex-direction: column;

    & label {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      justify-self: flex-start;
      font-weight: 600;
    }
  }
}
